{% if content %}
	<div{{attributes}}>

		{% if content.content %}
			<div {{ region_attributes.content.addClass('layout__region', 'layout__region--content') }}>

				<div class="aw_container aw_cta_donation_slider_module aw_full_width pt96 pt_mobile_64 pb64 pb_mobile_80">
					<div class="aw_row">
						<div
							class="col_12">
							<!-- A unique ID is nessary for each slider. Just use a random nuber as suffix-->
							<div id="abw_donation_slider_01" class="splide aw_donation_slider">
								<div class="splide__track">
									<ul class="splide__list">

										{% for item in items %}
											
                      <li class="splide__slide bg_yellow no_color_change">
											<div class="aw_container">
												<div class="aw_row medium_no_gap pt48 pb64 pr64 pl64 pt_mobile_32 pb_mobile_40 pr_mobile_24 pl_mobile_24">

                          {{ item }}
												</div>
											</div>
										</li>

										{% endfor %}
										

									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

			{% endif %}

		</div>
	{% endif %}
